<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
    <h1>List Category</h1>
    <a th:href="@{/create_category}">Add new Category</a>
    <a th:href="@{/}">Back to main menu</a>
    <table border="1" cellpadding="5">
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>

        <form th:action="@{/categories}">
            <input type="text" name="keyword">
            <input type="submit" value="Search">
        </form>

        <div>
            <a th:href="@{/categories(keyword=${keyword}, page=${category.number - 1})}" th:if="${category.hasPrevious()}">Previous</a>
            <span th:text="${category.number + 1}"></span>/<span th:text="${category.totalPages}"></span>
            <a th:href="@{/categories(keyword=${keyword}, page=${category.number + 1})}" th:if="${category.hasNext()}">Next</a>
        </div>

        <tr>
            <th>No.</th>
            <th>Category name</th>
            <th>Action</th>
        </tr>
        <tr th:each="item: ${category}">
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getCategoryName()}"></td>
            <td><a th:href="@{edit_category/__${item.getId()}__}">Edit</a></td>
            <td><a th:href="@{delete_category/__${item.getId()}__}">Delete</a></td>
        </tr>
    </table>

</body>
</html>