<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Edit Blog</h1>
    <form th:action="@{/edit}"  method="post" th:object="${blog}">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Title:</td>

                <td><input type="text" th:field="*{title}"></td>
            </tr>
            <tr>
                <td>Content:</td>
                <td><textarea th:field="*{content}" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Edit"></td>
            </tr>
        </table>
        <tr>
            <td><a th:href="@{/}">Back</a></td>
        </tr>
    </form>
</body>
</html>