<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage Blog</title>
</head>
<body>
    <h1 th:text="#{blog.list}"></h1>
    <h3 th:text="#{select.lang}"></h3>
    <a href="?lang=vi">VietNam</a>
    <a href="?lang=en">English</a>
    <br>
    <a th:href="@{/create}" th:text="#{add.blog}"></a>
    <table border="1" cellpadding="5">
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
        <tr>
            <th th:text="#{header.id}"></th>
            <th th:text="#{header.title}"></th>
            <th th:text="#{header.content}"></th>
            <th th:text="#{header.action}">Action</th>
        </tr>
        <tr th:each="item: ${blog}">
            <td th:text="${item.getId()}"></td>
            <td th:text="${item.getTitle()}"></td>
            <td th:text="${item.getContent()}"></td>
            <td><a th:href="@{view/__${item.getId()}__}" th:text="#{action.view}"></a></td>
            <td><a th:href="@{edit/__${item.getId()}__}" th:text="#{action.edit}"></a></td>
            <td><a th:href="@{delete/__${item.getId()}__}" th:text="#{action.delete}"></a></td>
        </tr>
    </table>
</body>
</html>