<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Furama Resort</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="layout::left-menu"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Danh sách khách hàng</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar"></span>
                        This week
                    </button>
                </div>
            </div>
            <form th:action="@{/khach-hang/danh-sach}" method="get">
                <div th:replace="layout::search-form"></div>
            </form>

            <th:block th:if="${message}">
                <div class="alert alert-success" role="alert">
                    <p th:text="${message}"></p>
                </div>
            </th:block>

            <br>

            <a class="btn btn-info my-custom-btn" th:href="@{/khach-hang/them}" style="margin-bottom: 30px">Thêm mới khách hàng</a>

            <br>

            <div>
                <a th:href="@{/khach-hang/danh-sach(keyword=${keyword},page=${listKhachHang.number - 1})}"
                   th:if="${listKhachHang.hasPrevious()}">Previous
                </a>
                <span th:text="${listKhachHang.number + 1}"></span>/<span th:text="${listKhachHang.totalPages}"></span>
                <a th:href="@{/khach-hang/danh-sach/(keyword=${keyword},page=${listKhachHang.number + 1})}" th:if="${listKhachHang.hasNext()}">Next</a>
            </div>

            <br>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã KH</th>
                        <th>Họ tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>CMND</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Loại khách hàng</th>
                        <th>Xử lý</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="khachHang : ${listKhachHang}">
                        <tr>
                            <td th:text="${khachHang.idKhachHang}"></td>
                            <td th:text="${khachHang.maKhachHang}"></td>
                            <td th:text="${khachHang.hoTen}"></td>
                            <td th:text="${khachHang.ngaySinh}"></td>
                            <td th:text="${khachHang.gioiTinh}"></td>
                            <td th:text="${khachHang.soCmnd}"></td>
                            <td th:text="${khachHang.soDienThoai}"></td>
                            <td th:text="${khachHang.email}"></td>
                            <td th:text="${khachHang.diaChi}"></td>
                            <td th:text="${khachHang.loaiKhachHang.tenLoaiKhachHang}"></td>
                            <td><a class="btn btn-danger"
                                   th:href="@{'/khach-hang/sua'(id=${khachHang.idKhachHang})}">Sửa</a></td>
                            <td><a class="btn btn-danger" onclick="return confirm_delete()"
                                   th:href="@{'/khach-hang/xoa'(id=${khachHang.idKhachHang})}">Xoá</a></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
<script type="text/javascript">
    function confirm_delete()
    {
        return confirm("Bạn chắc chắn muốn xoá khách hàng này ?");
    }
</script>
</body>
</html>